.discover-wrapper {
  margin-bottom: 100px;

  h2 {
    text-align: center;
    color: $color-secondary;
    letter-spacing: 15px;
    font-size: 60px;
    font-weight: $font-regular;
  }

  h3 {
    text-align: center;
  }
}