
.song {
  text-align: center;
  margin-bottom: 60px;

  &_title {
    text-align: center;
    font-size: 24px;
    font-weight: $font-regular;
    letter-spacing: 2.25px;

    span {
      text-transform: uppercase;
      font-weight: $font-semibold;
    }
  }

  &_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: $base-size;
    letter-spacing: 1.5px;
    color: $color-secondary;

    .song_categories {
      margin-left: -90px;
    }
  }

  .player {
    width: 70%;
    margin-left: 100px;
  }

  .green-audio-player .slider .gap-progress .pin {
    background-color: $color-main;
  }

  .green-audio-player .slider .gap-progress {
    background-color: $color-main;
  }

  
    
}
    

