h1 {
  font-family: $font-main;
  font-size: $base-size * 10;
  font-weight: $font-black;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-family: $font-main;
  text-transform: uppercase;

}