$color-main: #CF383E;
$color-dark: #131313;
$color-light: #fff;
$color-secondary: #bfbfbf;

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$base-size: 18px;

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}